@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Custom*/

.form{
  margin: auto; 
  width: 366px;
  vertical-align: center;
}

input{
  height: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 2px solid #D9D9D9;
  border-radius: 6px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper label {
  text-align: center;
  font-size: 12px;
}

select{
  width: 101%;
  height: 25px;
  margin-top: 7px;
  margin-bottom: 5px;
  border: 2px solid #D9D9D9;
  border-radius: 6px;
}

/*Emoji Checkbox*/

.checkbox-with-emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox-with-emoji input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
}

.checkmark {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 50%;
  padding: 7px;
  line-height: 1;
  text-align: center;
  font-size: 24px;
}

.checkbox-with-emoji input[type="checkbox"]:checked ~ .checkmark {
  background-color: #D9D9D9;
  border: 1.5px solid #282c34;
  color: #fff;
}

/*button*/

.btn-group button{
    cursor: pointer; /* Pointer/hand icon */
    width: 50%;
    padding: 6px;
}

.btn-purple{
  cursor: pointer; /* Pointer/hand icon */
  width: 100%;
  padding: 7px;
  background-color: #7774FF;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
}

.w-366{
  width: 366px;
}

.btn-white-form{  
  background-color: #FFFFFF;
  color: #7774FF;
  border: 2px solid #D9D9D9;
  border-right: none;
  border-radius: 6px;
}

.btn-close{
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-image: url("./close.png") ;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}

.btn-split{
  border: none;
  background-color: #fff;
  color: #7774FF;
  text-decoration: underline;
  cursor: pointer;
  height: 23px
}

img{
  height: 335px;
  width: 209px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cntr{
  margin: auto; 
  width:102%;
  vertical-align: center;
  text-align: center;
}
.login-btn{
  border: none;
  background-color: #FFFFFF;
  color: #7774FF;
  cursor: pointer;
  text-decoration: underline;
}

/*Grid*/
.container{
  display: grid;
  grid-template-rows: max-content;
}

.justify-content-end{
  justify-content: end;
}

.height-100{
  height: 100vh;
}
.container-tabs{
  display: grid;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  background-color: #7774FF0D;
}

.container-tabs-half{
  display: grid;
  width: 50vw;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  background-color: #7774FF0D;
  overflow: scroll;
}
.container-tabs-half-right{
  width: 50vw;
  background-color: #fff;
  color: #000;
  box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.align-content-center{
  align-content: center;
}

.two-col{
  grid-template-columns: 1fr 1fr;
}

.col-gap-7{
  column-gap: 7px;
}

.three-col{
  grid-template-columns: 1fr 3fr 1fr;
}

.four-col{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-row-none{
  grid-row: 2px;
}

/*Margins & Paddings*/
.m-a{
  margin: auto;
}

.ms-3{
  margin-right: 100px;
}

.me-3{
  margin-left: 10px;
}

.mb-7{
  margin-bottom: 7px;
}

.mt-7{
  margin-top: 7px;
}

.p-3{
  padding: 3px;
}


/*widths*/

.w-100{
  width: 100%;
}

.w-auto{
  width: auto;
}

.w-50{
  width: 50%;
}

.align-content-center{
  align-items: center;
}

.align-content-start{
  align-items: start;
}

.text-center{
  text-align: center;
}

.text-start{
  text-align: start;
}

.text-end{
  text-align: end;
}

.tab-card{
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 6px;
}

.tab-info-card{
  background-color: #FFFFFF;
  padding: 30px;
  border: 1px solid rgba(156, 156, 156, 0.7);
  border-radius: 12px;
  height: 100px;
  width: auto;
  margin: 4%;
}


.display-none{
  display: none;
}

.payment-title{
border: none;
font-size: 26px;
font-weight: bold;
width: 100%;
margin-bottom: 12px;
}

.payment-title:focus{
  outline: none
}
 
.nav-link{
  color: #000;
  text-decoration: none;
}

.currency-wrap{
  position:relative;
  max-width: 100%;
  margin: 0 auto;
}

.currency-code{
  position:absolute;
  left:8px;
  top:12px;
}

.text-currency{
  border-radius:5px;
  padding-left: 20px;
}









